*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3vw;
}
header .logo{
    width: 700px;
}
header .contact{
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}
.contact h2{
    position: relative;
    color: rgb(166, 20, 20);
    letter-spacing: 4px;
    font-size: 26px;
}
.contact h2::after{
    content: "";
    position: absolute;
    bottom: -8px;
    margin-top: 3px;
    width: 100%;
    left: 0;
    height: 4px;
    background-color: rgb(37, 37, 37);
}
.contact h1{
    font-size: 59px;
    margin-top: 4px;
}
.contact p{
    line-height: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
nav{
    background-image: url(menu_bg.gif);
    background-size: contain;
    height: 55px;
    display: flex;
    justify-content: right;
}
nav .menu{
    color: white;
    display: flex;
    font-family: Arial, sans-serif;
    align-items: center;
}
nav .menu a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 520;
    padding: 17px 20px;
}
nav .menu a:hover{
    background-color: gray;
}