*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3vw;
}
header .logo{
    width: 700px;
}
header .contact{
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}
.contact h2{
    position: relative;
    color: rgb(166, 20, 20);
    letter-spacing: 4px;
    font-size: 26px;
}
.contact h2::after{
    content: "";
    position: absolute;
    bottom: -8px;
    margin-top: 3px;
    width: 100%;
    left: 0;
    height: 4px;
    background-color: rgb(37, 37, 37);
}
.contact h1{
    font-size: 59px;
    margin-top: 4px;
}
.contact p{
    line-height: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
nav{
    background-image: url(menu_bg.gif);
    background-size: contain;
    height: 55px;
    display: flex;
    justify-content: right;
}
nav .menu{
    color: white;
    display: flex;
    font-family: Arial, sans-serif;
    align-items: center;
}
nav .menu a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 520;
    padding: 17px 20px;
}
nav .menu a:hover{
    background-color: gray;
}
main{
    padding: 40px 40px 60px 40px;
}
main .posters{
    display: flex;
    gap: 15px;
}
.posters .pos{
    width: 820px;
    filter: drop-shadow(0 1px 5px black);
}
.posters .w-pos{
    background-image: url("form_bg.jpg");
    background-size: cover;
    position: relative;
    padding: 80px 22px 0 25px;
    width: 700px;
    filter: drop-shadow(0 1px 5px black);
}
.w-pos h2{
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(155, 9, 15);
    color: white;
    padding: 8px;
    font-size: 28px;
    letter-spacing: 1px;
}
.w-pos .que{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    position: absolute;
    top: 1px;
    right: 50px;
    font-family: sans-serif;
    width: 260px;
    gap: 5px;
}
.que h4{
    font-size: 23px;
    letter-spacing: 1px;
}
.que h3{
    font-size: 38px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: rgba(27, 63, 100);
}
.que h5{
    font-size: 25px;
    line-height: 18px;
}
.w-pos .info{
    font-family: sans-serif;
    font-size: 19.7px;
}
.w-pos .details{
    display: flex;
    align-items: center;
    padding: 15px 5px;
    gap: 17px;
}
.details .input{
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: end;
    font-family: arial;
    font-weight: 600;
    font-size: 15px;
}
.input input{
    height: 25px;
    width: 200px;
}
.details img{
    transform: rotate(12deg);
    width: 200px;
}
textarea{
    resize: none;
    height: 75px;
    width: 470px;
    margin: 0 10px;
}
textarea::placeholder{
    color: rgb(37, 37, 37);
    font-family: arial;
    padding: 5px 0 0 10px;
    font-weight: 600;
    font-size: 16px;
}
.but{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}
.gry{
    color: rgba(119, 119, 111);
    font-style: italic;
    font-size: 17px;
}
.but button{
    font-family: sans-serif;
    font-size: 21px;
    background-color: rgba(179, 8, 8);
    color: white;
    border: none;
    box-shadow: 0 0 3px black;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.but button img{
    width: 12px;
}

