* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
}

header .logo {
    width: 55%;
}

header .contact {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: flex-end;
    justify-content: end;
    width: 45%;
    padding-right: 30px;
}

.contact h2 {
    position: relative;
    color: rgb(166, 20, 20);
    letter-spacing: 4px;
    font-size: 26px;
}

.contact h2::after {
    content: "";
    position: absolute;
    bottom: -8px;
    margin-top: 3px;
    width: 100%;
    left: 0;
    height: 4px;
    background-color: rgb(37, 37, 37);
}

.contact h1 {
    font-size: 59px;
    margin-top: 4px;
}

.contact p {
    line-height: 0px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

nav {
    background-image: url(menu_bg.gif);
    background-size: contain;
    /* width: 100vw; */
    height: 55px;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav .menu {
    list-style: none;
    margin: 0;
    display: flex;
    font-family: Arial, sans-serif;
    align-items: center;
    padding-right: 20px;
    list-style-type: none;
}

nav .menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 520;
    padding: 17px 20px;
}

nav .menu a:hover {
    background-color: gray;
}

#ham {
    display: none;
}

.togg {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: none;
    position: relative;
    z-index: 3;
}

.togg img {
    width: 100%;
    height: 100%;
    display: block;
}

main {
    padding: 40px 40px 60px 30px;
    width: 100%;
}

main .posters {
    display: flex;
    gap: 15px;
    width: 100%;
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
}

.posters .pos {
    width: 55vw;
    filter: drop-shadow(0 1px 5px black);
}

.posters .w-pos {
    background-image: url("form_bg.jpg");
    background-size: cover;
    padding: 0 15px 10px 0;
    width: 45vw;
    /* height: 80vh; */
    filter: drop-shadow(0 1px 5px black);
}

.top {
    display: flex;
    align-items: start;
    gap: 50px;
    padding-bottom: 10px;
    width: 100%;
}

.w-pos h2 {
    display: inline;
    background-color: rgba(155, 9, 15);
    color: white;
    padding: 8px;
    font-size: 24px;
    letter-spacing: 1px;
}

.top h4 {
    font-family: sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    padding-top: 10px;
}

.top b {
    font-size: 32px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: rgba(27, 63, 100);
}

.w-pos .info {
    font-family: sans-serif;
    font-size: 18px;
    padding-left: 20px;
    width: 100%;
}

.w-pos .details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 5px;
    gap: 5%;
    width: 100%;
}

.details .input {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: end;
    font-family: arial;
    font-weight: 600;
    font-size: 14px;
    width: 55%;
}

.input input {
    height: 24px;
    width: 185px;
}

.details img {
    width: 40%;
    transform: rotate(12deg);
}

textarea {
    resize: none;
    height: 70px;
    width: 90%;
    margin: 0 30px;
}

textarea::placeholder {
    color: rgb(37, 37, 37);
    font-family: arial;
    padding: 5px 0 0 10px;
    font-weight: 600;
    font-size: 16px;
}

.but {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 15px;
    width: 100%;
}

.gry {
    color: rgba(119, 119, 111);
    font-style: italic;
    font-size: 16px;
}

.but button {
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgba(179, 8, 8);
    color: white;
    border: none;
    box-shadow: 0 0 3px black;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.but button img {
    width: 12px;
}

.laws {
    display: flex;
    padding: 55px 0 40px 0;
    width: 100%;
}

.first {
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 33px 0 25px;
}

.first .heading {
    align-self: self-start;
}

.laws h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    color: rgb(73, 73, 73);
    letter-spacing: -1px;
    padding-bottom: 7px;
}

span {
    color: rgb(163, 34, 44);
}

.heading h3 {
    font-family: arial;
    font-size: 17px;
    padding-top: 4px;
    color: rgb(151, 34, 44);

}

.first .note {
    display: flex;
    align-items: start;
    gap: 20px;
}

.laws p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;

}

.note p {
    flex: 2;
    padding-top: 15px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.note .notebook {
    width: 85px;
}

.button {
    border-top: 1px solid grey;
    width: 220px;
    padding-left: 32px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-top: 20px;
}

.button button {

    background-color: rgb(163, 9, 9);
    color: white;
    border: none;
    padding: 6px 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 7px;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3), 4px 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button button img {
    width: 10px;
}

.second {
    border-left: 1px solid rgb(168, 168, 168);
    border-right: 1px solid rgb(168, 168, 168);
    display: flex;
    flex-direction: column;
    width: 38%;
}

.second .top {
    display: flex;
    flex: 1;
    border-bottom: 1px solid rgb(168, 168, 168);
    align-items: center;
    justify-content: space-evenly;
    padding: 0 25px 22px 25px;
    gap: 5px;
}

.top .blog {
    width: 200px;
}

.laptop {
    width: 185px;
}

.second .bottom {
    padding: 15px 25px 0 30px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.book {
    width: 150px;
}

.third {
    width: 31%;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.third .pic {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 5px;
}

.third .pic .col {
    width: 130px;
}

.third h2 {
    line-height: 28px;
}

.line {
    width: 100%;
}

.page {
    display: flex;
    align-items: start;
    padding-top: 20px;
    width: 100%;
}

.page h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
    color: rgb(76, 76, 76);
}

.learn {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 15px 10px;
    margin: 0 0 40px 0;
}

.container {
    display: flex;
    align-items: center;
    position: relative;
}

.e2 {
    position: absolute;
    bottom: -12px;
    left: 15px;
    width: 256px;
    height: auto;
}

.container .qw {
    width: 12px;
    height: 72px;
}

.container .content {
    display: flex;
    flex-direction: column;
    background-color: rgba(131, 131, 131);
    padding: 8px 10px;
    width: 260px;
}

.content h3 {
    color: white;
    font-family: arial;
    font-size: 22px;
}

.content .butt {
    align-self: end;
    margin-top: 15px;
}

.butt button {
    display: flex;
    align-items: center;
    background-color: rgba(131, 131, 131);
    border: none;
    color: white;
    gap: 5px;
    font-family: arial;
    font-weight: 700;
}

.butt button img {
    width: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    align-items: center;
    margin: 60px 0 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(198, 198, 198);
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
}

.para {
    width: 50%;
}

h1 {
    margin-bottom: 15px;
}

.para p {
    font-family: sans-serif;
    color: grey;
    line-height: 25px;


}

.review {
    width: 22%;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.review .button {
    border-top: 3px solid grey;
    padding-left: 53px;
    margin-bottom: 30px;
}

.review .button button {
    font-size: 13px;
    box-shadow: -9px 0 12px rgba(0, 0, 0, 0.3), 9px 0 12px rgba(0, 0, 0, 0.3);
}

.review p {
    font-family: verdana;
    font-size: 17px;
    color: rgb(43, 43, 43);
    padding: 0 0 0 8px;
}

.review h2 {
    width: 200px;
    padding: 0 0 3px 8px;
}

.qq {
    width: 175px;
    margin-bottom: 20px;
}

.coll {
    width: 140px;
    margin-bottom: 35px;
}

.lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review .last {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.follow h2 {
    padding-left: 30px;
    font-size: 27px;
}

.lines div {
    height: 2px;
    background-color: rgb(109, 109, 109);
    width: 100%;
}

.lines img {
    width: 100%;
    height: 15px;
}

.social {
    display: flex;
    gap: 10px;
}

.social img {
    width: 38px;
}

footer {
    background-image: url(ft_bg.png);
    background-size: contain;
    height: 30px;
}

@media (max-width: 1200px) {
    header {
        gap: 100px;
    }

    header .contact h2 {
        font-size: 26px;
        letter-spacing: 0px;
    }

    .contact h1 {
        font-size: 46px;
    }

    .contact p {
        font-size: 18px;
        letter-spacing: 0px;
    }

    main {
        padding: 40px 40px;
    }



    .poster .w-pos {
        padding: 0 20px 0 0;
    }

    .w-pos h2 {
        font-size: 20px;
    }

    .top {
        gap: 100px;
    }

    .top h4 {
        font-size: 18px;
        width: 200px;
        padding-top: 5px;
    }

    .top b {
        font-size: 25px;
    }

    .w-pos .info {
        font-size: 16px;
    }

    .w-pos .details {
        padding: 15px 0;
    }

    textarea {
        height: 60px;
    }

    textarea::placeholder {
        font-size: 14px;
    }

    .but {
        justify-content: center;
    }

    .but button {
        font-size: 16px;
    }

}

@media (max-width: 1075px) {
    header .contact h2 {
        font-size: 23px;
        letter-spacing: 0px;
    }

    .contact h1 {
        font-size: 40px;
    }

    .contact p {
        font-size: 16px;
        letter-spacing: 0px;
    }

    .posters .pos {
        width: 45vw;
    }

    .poster .w-pos {
        padding: 0 20px 0 0;
    }

    .w-pos h2 {
        font-size: 18px;
    }

    .top {
        gap: 100px;
    }

    .top h4 {
        font-size: 16px;
        width: 200px;
        padding-top: 2px;
    }

    .top b {
        font-size: 22px;
    }

    .w-pos .info {
        font-size: 14px;
    }

    .w-pos .details {
        padding: 10px 0;
    }

    .input input {
        width: 160px;
    }

    textarea {
        height: 50px;
    }

    textarea::placeholder {
        font-size: 12px;
    }


    .but button {
        font-size: 12px;
    }

    .laws {
        flex-wrap: wrap;
        justify-content: center;
    }

    .laws .first,
    .laws .second {
        width: 50%;
    }

    .laws .third {
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
    .laws .third .button{
        align-self: center;
    }
    .page {
        flex-wrap: wrap;
        justify-content: center;
    }

    .page .learn {
        width: 40%;
        display: block;
    }

    .learn .links {
        justify-content: flex-start;
        align-items: start;
        flex-direction: row;
        width: 40%;
        gap: 20px;
        margin-bottom: 30px;
    }

    .page .para {
        width: 60%;
    }

    .page .review {
        width: 40%;
    }

    .page .review .cards {
        display: flex;
        gap: 30px;
    }

    .review .last {
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;
    }
    .review .last .follow{
        width: 100%;
    }
    .follow .lines div{
        width: 80%;
    }

}

@media (max-width: 992px) {
    header .contact h2 {
        font-size: 20px;
        letter-spacing: 0px;
    }

    .contact h1 {
        font-size: 34px;
    }

    .contact p {
        font-size: 13px;
        letter-spacing: 0px;
    }

    nav .menu a {
        font-size: 14px;
    }
    .posters{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .posters .pos{
        width: 90%;
    }
    .posters .w-pos{
        width: 90%;
    }
    .w-pos h2 {
        font-size: 4vw;
    }

    .top {
        gap: 14vw;
    }

    .top h4 {
        font-size: 2.7vw;
        width: 28vw;
        padding-top: 2px;
    }

    .top b {
        font-size: 3.5vw;
    }

    .w-pos .info {
        font-size: 3vw;
    }

    .w-pos .details {
        padding: 10px 0;
    }
    .input label{
        
        font-size: 2vw;
    }
    .input input {
        height: 6vh;
        width: 33vw;
    }
    .details{
        height: 40vh;
    }
    .details img{
        width: 25vw;
    }
    textarea {
        height: 20vh;
        width: 75vw;
        margin-left: 4vw;
    }

    textarea::placeholder {
        font-size: 2vw;
    }

    .gry {
        font-size: 2vw;
    }

    .but button {
        font-size: 3vw;
        padding: 10px 3px;
    }

    .but button img {
        width: 2vw;
    }
    .top .laptop, .bottom .book{
        width: 100px;
    }
    .learn .links{
        flex-direction: column;
        width: 80%;
        margin: 10px 0;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 800px) {

    header {
        flex-direction: column;
        gap: 15px;
    }
    header .contact{
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    nav {
        position: relative;
        z-index: 2;
        background: none;
    }

    .togg img {
        filter: invert();
    }

    .togg {
        display: block;
        position: absolute;
        right: 15px;
        top: 12px;
    }

    nav .menu {
        flex-direction: column;
        position: absolute;
        top: 0px;
        display: none;
        width: 250px;
        height: 100vh;
        background: #393939;
        padding-top: 60px;
        gap: 10px;
        transition: right 0.4s ease;
    }

    nav .menu li {
        border-bottom: 2px solid rgb(255, 255, 255);
        width: 200px;
        display: flex;
    }

    nav .menu li a {
        padding: 0;
    }

    nav .menu li a:hover {
        background: none;
    }

    #ham:checked+nav .menu {
        display: flex;
    }

    #ham:checked+nav .togg {
        filter: invert();
    }

    main {
        padding: 20px 20px;
    }

    nav .togg {
        position: absolute;
        top: 30px;
    }
    .laws .first{
        width: 100%;
        margin-bottom: 40px;
    }
    .first .button{
        align-self: center;
    }
    .laws .second{
        width: 100%;
        border: none;
    }
    .top .laptop, .bottom .book{
        width: 150px;
    }
    .page{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .page .para{
        width: 90%;
        text-align: center;
    }
    .page .learn{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

    }
    .learn .links{
        flex-direction: column;
        width: 100%;
        margin: 10px 0;
        justify-content: center;
        align-items: center;
    }
    .review .cards{
        flex-direction: column;
    }
    .review .last{
        flex-direction: column;

    }
}
@media (max-width: 530px){
    .w-pos .top{
        gap: 30px;
    }
    .top h4{
        width: 35vw;
    }
    .details{
        height: 20vw;
    }
    .input input{
        height: 4vh;
        width: 32vw;
    }
    .details img{
        width:28vw;
    }
    textarea{
        height: 12vh;
        margin-left: 2vw;
    }
    .but button{
        padding:7px;
    }
    .second .top, .bottom{
        flex-direction: column;
        gap: 10px;
        padding: 0;
        text-align: center;
        padding-bottom: 20px;
    }
    .blog{
        margin-bottom: 40px;
    }
    .top .button, .bottom .button, .third .button{
        padding: 0;
    }
    .page .para p{
        text-align: justify;
    }
}