* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    gap: 150px;
    align-items: center;
}

header .logo {
    max-width: 100%;
    width: 700px;
}

header .contact {
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

.contact h2 {
    position: relative;
    color: rgb(166, 20, 20);
    letter-spacing: 4px;
    font-size: 26px;
}

.contact h2::after {
    content: "";
    position: absolute;
    bottom: -8px;
    margin-top: 3px;
    width: 100%;
    left: 0;
    height: 4px;
    background-color: rgb(37, 37, 37);
}

.contact h1 {
    font-size: 59px;
    margin-top: 4px;
}

.contact p {
    line-height: 0px;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

nav {
    background-image: url(menu_bg.gif);
    background-size: contain;
    height: 55px;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav .menu {
    list-style: none;
    margin: 0;
    display: flex;
    font-family: Arial, sans-serif;
    align-items: center;
    padding-right: 20px;
    list-style-type: none;
}

nav .menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 520;
    padding: 17px 20px;
}

nav .menu a:hover {
    background-color: gray;
}

#ham {
    display: none;
}

.togg {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: none;
    position: relative;
    z-index: 3;
}

.togg img {
    width: 100%;
    height: 100%;
    display: block;
}

main {
    padding: 40px 40px 60px 40px;
}

main .posters {
    display: flex;
    gap: 15px;
}

.posters .pos {
    width: 810px;
    filter: drop-shadow(0 1px 5px black);
}

.posters .w-pos {
    background-image: url("form_bg.jpg");
    background-size: cover;
    position: relative;
    padding: 80px 22px 0 25px;
    width: 600px;
    filter: drop-shadow(0 1px 5px black);
}

.w-pos h2 {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(155, 9, 15);
    color: white;
    padding: 8px;
    font-size: 28px;
    letter-spacing: 1px;
}

.w-pos .que {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    position: absolute;
    top: 1px;
    right: 50px;
    font-family: sans-serif;
    width: 260px;
    gap: 5px;
}

.que h4 {
    font-size: 23px;
    letter-spacing: 1px;
}

.que h3 {
    font-size: 38px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: rgba(27, 63, 100);
}

.que h5 {
    font-size: 25px;
    line-height: 18px;
}

.w-pos .info {
    font-family: sans-serif;
    font-size: 19.7px;
}

.w-pos .details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 5px;
    gap: 17px;
}

.details .input {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: end;
    font-family: arial;
    font-weight: 600;
    font-size: 15px;
}

.input input {
    height: 25px;
    width: 200px;
}

.details img {
    transform: rotate(12deg);
    width: 200px;
}

textarea {
    resize: none;
    height: 75px;
    width: 470px;
    margin: 0 10px;
}

textarea::placeholder {
    color: rgb(37, 37, 37);
    font-family: arial;
    padding: 5px 0 0 10px;
    font-weight: 600;
    font-size: 16px;
}

.but {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.gry {
    color: rgba(119, 119, 111);
    font-style: italic;
    font-size: 17px;
}

.but button {
    font-family: sans-serif;
    font-size: 21px;
    background-color: rgba(179, 8, 8);
    color: white;
    border: none;
    box-shadow: 0 0 3px black;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.but button img {
    width: 12px;
}

.laws {
    display: flex;
    padding: 55px 0 40px 0;
    width: 100%;
}

.first {
    width: 365px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 33px 0 25px;
}

.first .heading {
    align-self: self-start;
}

.laws h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    color: rgb(73, 73, 73);
    letter-spacing: -1px;
    padding-bottom: 7px;
}

span {
    color: rgb(163, 34, 44);
}

.heading h3 {
    font-family: arial;
    font-size: 17px;
    padding-top: 4px;
    color: rgb(151, 34, 44);

}

.first,
.second,
.third {
    max-width: 100%;
    width: auto;
}

.first .note {
    display: flex;
    align-items: start;
    gap: 20px;
}

.laws p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;

}

.note p {
    flex: 2;
    padding-top: 15px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.note .notebook {
    width: 85px;
}

.button {
    border-top: 1px solid grey;
    width: 220px;
    padding-left: 32px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-top: 20px;
}

.button button {

    background-color: rgb(163, 9, 9);
    color: white;
    border: none;
    padding: 6px 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 7px;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3), 4px 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button button img {
    width: 10px;
}

.second {
    border-left: 1px solid rgb(168, 168, 168);
    border-right: 1px solid rgb(168, 168, 168);
    display: flex;
    flex-direction: column;
    width: 470px;
}

.second .top {
    display: flex;
    flex: 1;
    border-bottom: 1px solid rgb(168, 168, 168);
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 22px;
    gap: 5px;
}

.top .blog {
    width: 200px;
}

.laptop {
    width: 185px;
}

.second .bottom {
    padding: 15px 25px 0 30px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.book {
    width: 170px;
}

.third {
    width: 370px;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.third .pic {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 5px;
}

.third .pic .col {
    width: 130px;
}

.third h2 {
    line-height: 28px;
}

.line {
    width: 100%;
}

.page {
    display: flex;
    align-items: start;
    padding-top: 20px;
}

.page h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
    color: rgb(76, 76, 76);
}

.learn {
    flex: 1.5;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 15px 10px;
    margin: 0 0 40px 0;
}

.container {
    display: flex;
    align-items: center;
    position: relative;
}

.e2 {
    position: absolute;
    top: 72px;
    left: 15px;
    width: 256px;
    height: auto;
}

.container .qw {
    width: 12px;
    height: 72px;
}

.container .content {
    display: flex;
    flex-direction: column;
    background-color: rgba(131, 131, 131);
    padding: 8px 10px;
    width: 260px;
}

.content h3 {
    color: white;
    font-family: arial;
    font-size: 22px;
}

.content .butt {
    align-self: end;
    margin-top: 15px;
}

.butt button {
    display: flex;
    align-items: center;
    background-color: rgba(131, 131, 131);
    border: none;
    color: white;
    gap: 5px;
    font-family: arial;
    font-weight: 700;
}

.butt button img {
    width: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    margin: 60px auto 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(198, 198, 198);
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
}

.para {
    flex: 3;
}

h1 {
    margin-bottom: 15px;
}

.para p {
    font-family: sans-serif;
    color: grey;
    line-height: 25px;


}

.review {
    flex: 1;
    padding: 10px 0 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.review .button {
    border-top: 3px solid grey;
    padding-left: 53px;
    margin-bottom: 30px;
}

.review .button button {
    font-size: 13px;
    box-shadow: -9px 0 12px rgba(0, 0, 0, 0.3), 9px 0 12px rgba(0, 0, 0, 0.3);
}

.review p {
    font-family: verdana;
    font-size: 17px;
    color: rgb(43, 43, 43);
    padding: 0 0 0 8px;
}

.review h2 {
    width: 200px;
    padding: 0 0 3px 8px;
}

.qq {
    width: 175px;
    margin-bottom: 20px;
}

.coll {
    width: 140px;
    margin-bottom: 35px;
}

.lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.follow h2 {
    padding-left: 30px;
    font-size: 27px;
}

.lines div {
    height: 2px;
    background-color: rgb(109, 109, 109);
    width: 100%;
}

.lines img {
    width: 100%;
    height: 15px;
}

.social {
    display: flex;
    gap: 10px;
}

.social img {
    width: 38px;
}

footer {
    background-image: url(ft_bg.png);
    background-size: contain;
    height: 30px;
}


@media (max-width: 1240px) {
    header {
        flex-direction: column;
        gap: 10px;
    }

    header .logo {
        width: 100%;
    }

    nav {
        position: relative;
        z-index: 2;
        background: none;
    }

    .togg img {
        filter: invert();
    }

    .togg {
        display: block;
        position: absolute;
        right: 15px;
        top: 12px;
    }

    nav .menu {
        flex-direction: column;
        position: absolute;
        top: 0px;
        display: none;
        width: 250px;
        height: 100vh;
        background: #393939;
        padding-top: 60px;
        gap: 10px;
        transition: right 0.4s ease;
    }

    nav .menu li {
        border-bottom: 2px solid rgb(255, 255, 255);
        width: 200px;
        display: flex;
    }

    nav .menu li a {
        padding: 0;
    }

    nav .menu li a:hover {
        background: none;
    }

    #ham:checked+nav .menu {
        display: flex;
    }

    #ham:checked+nav .togg {
        filter: invert();
    }

    .posters {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .posters .pos {
        width: 500px;
    }

    .laws {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .first {
        width: 500px;
    }

    .page {
        flex-direction: column;
        gap: 30px;
    }

    .learn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .review {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

}


@media (max-width: 586px) {

    header .logo {
        width: 100%;
    }

    main {
        padding: 20px 15px;
    }

    nav .togg {
        position: absolute;
        top: 30px;
    }

    .posters {
        flex-direction: column;
        align-items: center;
    }

    .posters .pos,
    .posters .w-pos {
        width: 350px;
    }

    .posters .w-pos {
        padding: 30px 0 10px 10px;
    }

    .w-pos h2 {
        font-size: 12px;

    }

    .w-pos .que {
        position: static;
    }

    .info {
        padding-top: 20px;
    }

    .input input {
        width: 160px;
    }

    .details img {
        width: 150px;
    }

    textarea {
        width: 90%;
    }

    .gry {
        font-size: 12px;
    }

    .but button {
        font-size: 13px;
    }

    .but button img {
        width: 9px;
    }

    .laws {
        flex-direction: column;
        gap: 30px;
    }

    .page {
        flex-direction: column;
        gap: 30px;
    }

    .learn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .review {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}